.nav {
  background-color: antiquewhite;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

/* Using global styles without importing the current module */
.nav :global(.active) {
  background-color: green;
}

:global(.test) {
  background-color: red;
}
